.card{
    border: 2px solid black;
    margin: auto;
    padding: 4rem;
    width: 40%;
    display: flex;
    justify-content: center;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.profileImg{
    border-radius: 50%;
    width: 10rem;
}